body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #C0C0C0;
    margin: 0;
}
    footer{

        background-color: #808080;
        
    }
    .F1 {
        text-align: left;
        justify-content: space-around;
        background-color: #808080;
        padding: 20px;
    }
    
    .F1zinho {
        
        margin-right: 20px;
        margin-left: 0;
    }
    
    .F1zinho h3 {
        font-size: 16px;
        margin-bottom: 10px;
        color: white;
    }
    
    .F1zinho ul {
        list-style: none;
        padding: 0;
    }
    
    .F1zinho ul li {
        margin-bottom: 5px;
    }
    
    .F1zinho ul li a {
        text-decoration: none;
        color: #FFC0CB;
    }
    
    .F1zinho ul li a:hover {
        color: #FFC0CB;
    }
    .F2 {

        display: flex;
        justify-content: space-around;
        background-color: #1C1C1C;
        padding: 20px;
        text-align: center;
        margin-bottom: 20px;
        box-shadow: 2px 2px 2px #808080;
    }
    .pzinho1{
        font-size: 25px;
        color: #b176fe;
        text-shadow: 2px 2px 5px #ba87fa;
        font-weight: bold   ;
    }
    .pzinho2{
        color: white;
        text-shadow: 2px 2px 5px white;
    }

    
    
    header {
        background-color: #1c1c1c; 
        padding: 20px 0; 
    }
    .Logo{
        width: 95%; 
        margin: 0 auto; 
        display: flex;
        align-items: center;



    }
    .Logo nav a{
        text-decoration: none;
        
    }
    .TITULO{
        margin-left: 20px;
        color: #b176fe;
        text-shadow: 2px 2px 7px #ba87fa;
        
        font-size: 28px;
        font-weight: bold;
    }
    .pages{
        margin-left: 10px auto;
        padding: 20px    ;
        color: white;
        text-shadow: 2px 2px 5px white;
        font-weight: bold;
        font-size: 18px;
    }
    
